#store-container {
  display: flex;
  gap: 10px;
  margin: 2rem auto;
  padding: 1rem;
}

#store-container .item {
  border: solid 2px #333;
  padding: 20px;
}

#shopping-cart-container {
  position: absolute;
  right: 0;
  width: 300px;
  border: solid 1px #ccc;
  padding: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.item .title {
  font-weight: bold;
  font-size: 1.8rem;
}
.item .price {
  color: green;
  font-weight: bold;
  font-size: 1.6rem;
}
.item div {
  padding: 5px 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.total {
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
}
button {
  border: none;
  background-color: rgb(241, 217, 28);
  padding: 1.5rem 3rem;
  border-radius: 5px;
}
button:active {
  transform: scale(0.9);
}
